body {
	font-family: "Open Sans";
	background-color: #97B8C2;
}

.container {
	display: flex;
	flex-wrap: wrap;
	height: 55vh;
  min-height: 500px;
}

.wrapper {
  margin: 0 auto;
  min-width: 1100px;
}

.use-landscape {
  display: none;
}

@media screen and (orientation: portrait) {
   .wrapper {
   	  display: none;
   }

   .use-landscape {
     display: flex;
     align-items: center;
     justify-content: center;
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
   }

   .ipad {
    height: 300px;
    width: 300px;
    margin: auto;
     -webkit-animation: spin 4s linear infinite;
   }

   @-webkit-keyframes spin { 50% { -webkit-transform: rotateZ(90deg); } }
}
